.bg-text_skip_button
{
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 2000px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
}

.bg-text_button
{
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        top: 105%;
        left: 30%;
        width: 100%;
}

.bg-text_button_2
{
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        top: 105%;
        left: 30%;
        width: 100%;
}

.bg-text_large_main
{
        color: rgb(0, 0, 0);
        font-size: 50px;
        position: absolute;
        top: 15%;
        left: 64%;
        transform: translate(-50%, -50%);
        font-weight: normal;
        width: 100%;
}

.bg-text
    {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        top: 21%;
        left: 14%;
        width: 100%;
    }

    .bg-text_images_screens
    {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 16%;
        width: 100%;
    }

    .bg-text_skip_upper_menu_bar
    {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 98%;
    }

.topnav 
    {
        overflow: hidden;
        background-color: #333;
    
    }
      
    .topnav a 
    {
        float: left;
        color: #f2f2f2;
        padding: 14px 103.5px;
        text-decoration: none;
        font-size: 17px;
    
        transition: .2s ease-in-out 0s;
        -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
        mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
        -webkit-mask-size: 800%;
        mask-size: 800%;
        -webkit-mask-position: 0;
        mask-position: 0;
    }
      
    .topnav a:hover 
    {
        background-color: #ddd;
        color: black;
    
        transition: mask-position 1s ease,-webkit-mask-position 1s ease;
        -webkit-mask-position: 120%;
        mask-position: 120%;
        opacity: 1;
    
    }

.button 
{
    background-color: #04AA6D; /* Green */
    border: 2px solid #FFF;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: -400px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 50px auto;
    cursor: pointer;

    transition: .2s ease-in-out 0s;

    -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

.button_download_c {border-radius: 12px;}
.button_download_python {border-radius: 12px;}

.button_download_c:hover
{

    cursor: pointer;
    transform: scale(1.25);

    transition: mask-position 1s ease,-webkit-mask-position 1s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}

.button_download_python:hover
{

    cursor: pointer;
    transform: scale(1.25);

    transition: mask-position 1s ease,-webkit-mask-position 1s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}